*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle/wrapper/gradle-wrapper.jar
repomix-output.xml
.idea/deploymentTargetSelector.xml
.idea/vcs.xml
Vika-Row-Tutorial-feature-13.09.2026_12.04_1._-_Row_-_-.zip
*.zip
.idea/
